<div style="background-color: #212F3D;z-index: -1;height: 160px;margin-top: -150px;">


</div>






<h1 style="text-align: center; font-family: Copperplate, Copperplate Gothic Light, fantasy;margin: 10px;padding: 10px; ">Your Reservations</h1>



<!-- 
<div class="blog-card" style="color:  white;background-color: rgb(46, 49, 49);" >
    <div class="meta" style="background-color: rgb(46, 49, 49);"   >
        <div class="photo"
            style="background-color: rgb(46, 49, 49); background-image: url('../../assets/Room10.jpeg') "></div>
        <ul class="details" *ngFor="let r of reservations">
            <li>{{r|json}}</li>
            <li class="date">{{r.checkInDate | date:'mediumDate'}}</li>
            <li class="date">{{r.checkOutDate | date:'mediumDate'}}</li>
            <li class="date">{{r.totalAmount|currency:'INR'}}</li>
           
        </ul>
    </div> -->
    <!-- <div class="description" *ngFor="let room of rooms"  style="margin-left: -50px; background-color: rgb(46, 49, 49);overflow: visible;z-index: 1;padding-right: 20px;">
        <h1>{{room.roomtype}}</h1>
        <h2>{{room.capacity}}</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
            praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>

    </div> 
</div>-->






<div class="blog-card " style="color: white;">
    <div class="meta">
      <div class="photo" style="background-image: url(../../assets/Room1.jpeg)"></div>
      <ul class="details">
        <li class="date">CheckIn Date : Dec. 24, 2023</li>
        <li class="date">CheckOut Date : Dec. 28, 2023</li>
        <!-- <li class="tags">
          <ul>
            <li><a href="#">Learn</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
    <div class="description">
      <h1>Deluxe</h1>
      <h2>Capacity : 4</h2>
      <h2>Amount : 1000</h2>

      
    </div>
  </div>
 