
  <app-sidebar></app-sidebar>

<div class="card  back-img text-bg-dark ">
    <img src="../../assets/Room18.jpeg" class="card-img opacity-50" alt="..." height="800px">
    
    <div class="card-img-overlay text-over-img" style="margin-right: auto;margin-left: 40%;">
        <h1 class="card-title text-over-img" style="font-size: 40px;" > <strong> CONTACT US </strong></h1>
     
      </div>
</div>
<div class="col-md-12 justify-content-center align-items-center "  >
    <div class="card card-1" style="width: 100%;text-align: center;height: auto;" >
        <div class="card-body" style="margin: 30px;padding: 50px;">
            <h5 class="card-title"></h5>
            <p class="card-text">We're here to assist you in any way we can. Whether you have a question, need support,
                or just want to share your feedback, we'd love to hear from you. </p>
        </div>
    </div>
</div>




<div class="col-md-12"  style="width: 100%;">
    <div class="card card-2" style="width: 100%;">
        <div class="card-body" style="margin:0px;width: 100%;padding: 30px;">

            <h5 class="card-title" style="font-size: 25px;"><i class="bi bi-headset h2 text-dark mb-4"></i><strong>Customer Support</strong></h5>

            <p class="card-text">
                Our dedicated customer support team is available to help you with any inquiries or issues you may have.
                Please feel free to reach out to us:

            </p>

            <div class="col-md-12">
                <div class="card-body" style="margin: 20px;">
                    <p class="card-text ">
                        <strong>Email:</strong> support&#64;DreamStay.com<br>
                        <strong>Phone:</strong> +1 (123) 456-7890

                    </p>
                    <a href="#" class="btn btn-primary">Chat Now</a>

                </div>
            </div>


        </div>

    </div>
    <div class="col-md-12" style="width: 100%;margin: 0;">
        <div class="card card-2" style="width: 100%;">
            <div class="card-body" style="margin: 0px;padding: 30px;">

                <h5 class="card-title" style="font-size: 25px;"><i class="bi bi-envelope h2 text-dark mb-4"></i><strong>Business Inquiries</strong></h5>
                <p class="card-text">
                    For business-related inquiries, partnerships, or collaborations, please contact our business
                    development team: -
                    <br>
                    Email: business&#64;dreamstay.com
                    <br>
                    Phone: +1 (123) 456-7891
                </p>

            </div>
        </div>
    </div>

    <div class="col-md-12" style="width: 100%;margin: 0;">
        <div class="card card-2" style="width: 100%;">
            <div class="card-body" style="margin: 20px;padding: 30pxs;">

                <h5 class="card-title" style="font-size: 25px;"><i class="bi bi-gear h2 text-dark mb-4"></i><strong>Technical Support</strong></h5>
                <p class="card-text">
                    If you encounter any technical issues or have questions related to the functionality of the
                    DreamStay platform, our technical support team is ready to assist: -
                    <br>
                    Email: techsupport&#64;dreamstay.com
                    <br>
                    Submit a Support Ticket: [Submit Ticket]

                </p>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="width: 100%;margin: 0;">
        <div class="card card-2" style="width: 100%;">
            <div class="card-body" style="margin: 20px;padding: 30px;">

                <h5 class="card-title" style="font-size: 25px;"><i class="bi bi-geo-alt h2 text-dark mb-4"></i><strong>Visit Us</strong></h5>
                <p class="card-text">
                    If you prefer an in-person meeting, our office is location at:<br>
                    DreamStay Headquarters<br>
                    123 Traveler’s Lane Cityville,<br>
                    ST 12345
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="width: 100%; margin: 0;">
        <div class="card card-2" style="width: 100%;">
            <div class="card-body" style="margin: 20px;padding: 30px;">

                <h5 class="card-title" style="font-size: 25px;"><i class="bi bi-chat-square-dots h2 text-dark mb-4"></i><strong>Feedback and Suggestions</strong>
                </h5>
                <p class="card-text">
                    Your feedback is invaluable to us. If you have suggestions for improvement or want to share your
                    experience, please email us at feedback&#64;dreamstay.com.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="width: 100%;margin: 0;">
        <div class="card card-2" style="width: 100%;">
            <div class="card-body" style="margin: 20px;padding: 30px;">

                <h5 class="card-title" style="font-size: 25px;"><i class="bi bi-globe h2 text-dark mb-4"></i><strong>Connect with us on Social Media</strong></h5>
                <p class="card-text">
                    Stay updated on the latest news, promotions, and travel inspiration by following us on social media:
                </p>
            </div>
            <div class="col-md-12">
                <div class="d-flex" style="margin: 20px;">
                    <a href="https://www.instagram.com/" target="_blank" class="social-icon"><i
                            class="bi bi-instagram"></i></a>
                    <a href="https://www.facebook.com/" target="_blank" class="social-icon"><i
                            class="bi bi-facebook"></i></a>
                    <a href="https://www.linkedin.com/" target="_blank" class="social-icon"><i
                            class="bi bi-linkedin"></i></a>
                    <a href="https://wa.me/9119529847" target="_blank" class="social-icon"><i
                            class="fab fa-whatsapp"></i></a>
                </div>

                <div class="container d-flex justify-content-center align-items-center">
                    <div class="card-3 text-center">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text"><strong> You For Choosing DreamStay. We Look Forward to Assisting you on your
                                Journey.. </strong></p>
                        </div>
                    </div>
            </div>
        </div>

        






    </div>


    


    </div>

</div>