<app-sidebar></app-sidebar>



<!-- Text over image -->
<div class="card  back-img text-bg-dark">
  <img src="../../assets/Room4.jpg" class="card-img opacity-75" alt="..." height="850px" width="100%">
  <div class="card-img-overlay text-over-img">
    <h1 class="card-title" style="color: white; text-shadow: none;font-size: 40px;"> Welcome To DreamStay</h1>
    <h3 class="card-text" style="color: white; text-shadow: none;font-size: 30px;">Where comfort meets convienence</h3>

  </div>
</div>

<!-- About Us -->
<div style="display: flex; background-color: #212F3D; width: 100%;">
  <div class="about-us-text" style="flex: 1; padding: 20px;">
    <h4 >About Us</h4>
    <p>
      At DreamStay, we believe in the transformative power of travel.
      Our platform is designed to connect travelers with unique and unforgettable
      accommodation experiences. Whether you're a seasoned globetrotter or planning your
      first getaway, DreamStay is here to make your travel dreams a reality.
      DreamStay is more than a booking platform; it's a community of travelers seeking
      inspiration and sharing their stories. Join us on this exciting journey, and let's make
      every stay a dream stay!
    </p>
  </div>
  <div class="about-us-img" style="flex: 1; max-height: 100%; overflow: hidden;">
    <img src="../../assets/Room16.jpeg" style="width: auto; height: 100%; max-width: 100%;">
  </div>
</div>


<!-- Our Vision -->

<div style="display: flex; background-color: #212F3D; width: 100%; overflow: visible; margin-top: -20px;">
  <div class="about-us-img2" style="flex: 1; padding: 20px;">
    <img src="../../assets/Room13.jpeg" style="width: 90%; height: auto; max-width: 800px; max-height: 450px;">
  </div>
  <div class="about-us-text2" style="flex: 1; padding: 20px;">
    <h4>Our Vision</h4>
    <p>
      DreamStay was born out of the vision to create a global community where travelers
      can discover exceptional stays while providing hoteliers with a
      platform to showcase their unique offerings. We envision a world
      where every journey is marked by personalized, comfortable, and
      memorable accommodations.
      As we look to the future, we aim to continuously innovate and expand our offerings,
      fostering a network that connects like-minded travelers and hosts worldwide. Our vision
      extends beyond booking rooms; it's about creating meaningful connections and
      unforgettable experiences that last a lifetime.
    </p>
  </div>
</div>

<!-- DreamStay Working -->

<div class="dwork">
  <h4 style="color: #212F3D;">How DreamStay Works</h4>
  <p>
    For Hoteliers: DreamStay is your partner in showcasing the charm of your hotel. By registering with us, you gain
    access to a global audience of discerning travelers. We provide a user-friendly platform for you to exhibit your
    rooms, amenities, and special features, ensuring that your hotel stands out in the crowded hospitality landscape.
    <br> For Travelers: Discover your dream stay with us. Browse through a curated collection of hotels, each with its
    own distinct character. DreamStay simplifies the booking process, allowing you to explore, compare, and reserve
    accommodations that match your preferences and travel aspirations.
  </p>
</div>


<div style="display: inline-block; background-color: #212F3D; width: 100%; margin-bottom: -10px;">
  <div class="about-us-text">
    <h4>Our Team</h4>
    <p>
      Meet the passionate individuals who make DreamStay possible.
      Our team is composed of travel enthusiasts, tech experts, and
      hospitality professionals, all working together
      to create a seamless and enjoyable travel experience for you.
      Each member of our team brings a unique set of skills and perspectives, contributing to
      the diverse and dynamic culture that defines DreamStay. Together, we strive to make
      every aspect of your journey, from booking to stay, a delightful and memorable
      experience.
    </p>
  </div>
  <div class="about-us-img">
    <img src="../../assets/Room21.jpeg" width="450px" height="250px">
  </div>
</div>



<!-- About Member -->
<div class="row" style="display: flex;margin: 30px;padding: 30px;">

  <div class="image-gap" style=" width: 30px;display: inline-block;"></div>
  <div class="card card1">
    <div class="img1"> <span></span><span></span><span></span><span></span></div>
    <div class="content content1">
      <h6 style="font-size: 15px;font-family: Copperplate, Copperplate Gothic Light, fantasy; ">Vaishnavi Vishwasrao</h6>
      <p>Back-end Developer</p>
    </div>
  </div>

  <div class="image-gap" style=" width: 30px;display: inline-block;"></div>

  <div class="card card1">
    <div class="img2"> <span></span><span></span><span></span><span></span></div>
    <div class="content content1">
      <h6 style="font-size: 15px;font-family: Copperplate, Copperplate Gothic Light, fantasy; ">Varsha Avhad</h6>
      <p>Back-end Developer</p>
    </div>
  </div>


  <div class="image-gap" style=" width: 30px;display: inline-block;"></div>

  <div class="card card1">
    <div class="img3"> <span></span><span></span><span></span><span></span></div>
    <div class="content content1">
      <h6 style="font-size: 15px;font-family: Copperplate, Copperplate Gothic Light, fantasy; ">Vaishnavi Thorat</h6>
      <p>Front-end Developer</p>
      </div>
  </div>

  <div class="image-gap" style=" width: 30px;display: inline-block;"></div>

  <div class="card card1">
    <div class="img4"> <span></span><span></span><span></span><span></span></div>
    <div class="content content1">
      <h6 style="font-size: 15px;font-family: Copperplate, Copperplate Gothic Light, fantasy; ">Darshan Mandhare</h6>
      <p>Front-end Developer</p>
    </div>
  </div>

  <div class="image-gap" style=" width: 30px;display: inline-block;"></div>

  <div class="card card1">
    <div class="img5"> <span></span><span></span><span></span><span></span></div>
    <div class="content content1">
      <h6 style="font-size: 15px;font-family: Copperplate, Copperplate Gothic Light, fantasy; ">Harish Salunke</h6>
      <p>Front-end Developer</p>
    </div>
  </div>
</div>












<!-- 
<div class="container" style="padding: 60px;">
  <div class="row d-flex running-border" style="overflow: visible; margin-right: -15px; margin-left: -15px;">

    <div class="col-md-4 px-0">
      <img src="../../assets/Room1.jpeg" height="300px" width="100%">
    </div>
    <div class="col-md-8" style="padding: 30px; background-color: whitesmoke; text-align: left;">
      <h3 style="font-size: 20px; color: black; margin-bottom: 10px;">
        Vaishnavi Vishwasrao
      </h3>
      <h3 style="font-size: 20px; color: black;">Front-End Developer</h3>
    </div>

  </div>
</div>

<div class="container" style="padding: 60px;">
  <div class="row d-flex" style="overflow: visible; margin-right: -15px; margin-left: -15px;">

    <div class="col-md-8" style="padding: 30px; background-color: whitesmoke; text-align: left;">
      <h3 style="font-size: 20px; color: black; margin-bottom: 10px;">
        Vaishnavi Vishwasrao
      </h3>
      <h3 style="font-size: 20px; color: black;">Front-End Developer</h3>
    </div>
    
    <div class="col-md-4 px-0">
      <img src="../../assets/Room1.jpeg" height="300px" width="100%">
    </div>
  </div>
</div>

<div class="container" style="padding: 60px;">
  <div class="row d-flex" style="overflow: visible; margin-right: -15px; margin-left: -15px;">

    <div class="col-md-4 px-0">
      <img src="../../assets/Room1.jpeg" height="300px" width="100%">
    </div>
    <div class="col-md-8" style="padding: 30px; background-color: whitesmoke; text-align: left;">
      <h3 style="font-size: 20px; color: black; margin-bottom: 10px;">
        Vaishnavi Vishwasrao
      </h3>
      <h3 style="font-size: 20px; color: black;">Front-End Developer</h3>
    </div>

  </div>
</div>

<div class="container" style="padding: 60px;">
  <div class="row d-flex" style="overflow: visible; margin-right: -15px; margin-left: -15px;">

    <div class="col-md-8" style="padding: 30px; background-color: whitesmoke; text-align: left;">
      <h3 style="font-size: 20px; color: black; margin-bottom: 10px;">
        Vaishnavi Vishwasrao
      </h3>
      <h3 style="font-size: 20px; color: black;">Front-End Developer</h3>
    </div>
    
    <div class="col-md-4 px-0">
      <img src="../../assets/Room1.jpeg" height="300px" width="100%">
    </div>
  </div>
</div>

<div class="container" style="padding: 60px;">
  <div class="row d-flex" style="overflow: visible; margin-right: -15px; margin-left: -15px;">

    <div class="col-md-4 px-0">
      <img src="../../assets/Room1.jpeg" height="300px" width="100%">
    </div>
    <div class="col-md-8" style="padding: 30px; background-color: whitesmoke; text-align: left;">
      <h3 style="font-size: 20px; color: black; margin-bottom: 10px;">
        Vaishnavi Vishwasrao
      </h3>
      <h3 style="font-size: 20px; color: black;">Front-End Developer</h3>
    </div>

  </div>
</div> -->