
<footer>
    <div class="backcolor-footer">
      <!-- <div class="navbar bg-body-tertiary .backcolor-footer"> -->
        <div class="container">
          <!-- Apply the same background color class to the logo link -->
          <a class="navbar-brand bg-link-color" href="#">
            <img src="../../assets/Logo.png" alt="DreamStay" width="30" height="24"> DreamStay
          </a>
        </div>
    <!-- </div> -->
  
      <div class="container text-center">
        <div class="row">
          <div class="col-md-3">
            <ul class="list-unstyled text-white">
              <li>Company Name</li>
              <li>123 Hospitality</li>
              <li>Way Cityville, ST 12345</li>
              <li>Phone: (123) 456-7890</li>
              <li>Email:{{'info@hotelbooking.com'}}  </li>
            </ul>
          </div>
  
          <div class="col-md-2 navigation-links">
            <ul class="list-unstyled text-white">
              <li><a href="home">Home</a></li>
              <li><a href="about">About Us</a></li>
              <li><a href="book">Rooms & Suites</a></li>
              <li><a href="book">Special Offers</a></li>
              <li><a href="contact">Contact Us</a></li>
            </ul>
          </div>
  
          <div class="col-md-2 legal-info">
            <ul class="list-unstyled text-white">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
  
          <div class="col-md-4">
            <ul class="list-unstyled text-white">
              <li>Designed by</li>
              <li>Vaishnavi V.</li>
              <li>Varsha</li>
              <li>Harish</li>
              <li>Darshan</li>
              <li>Vaishnavi T.</li>
            </ul>
          </div>
<!-- ... (previous code) ... -->


<div class="col-md-1 text-center">
    <!-- Social Icons (vertical) -->
    
   <ul class="list-unstyled text-white list-group-item ">
    <li>
        <button type="button" class="btn btn-outline-light ">
            <fa-icon [icon]="facebookIcon"></fa-icon>
          </button>
    </li>
    <li>
        <button type="button" class="btn btn-outline-light ">
            <fa-icon [icon]="twitterIcon"></fa-icon>
          </button>
    </li>
    <li>
        <button type="button" class="btn btn-outline-light">
            <fa-icon [icon]="instagramIcon"></fa-icon>
          </button>
    </li>
   
    </ul>
  </div>
  
  <!-- ... (rest of your code) ... -->
  
  
        </div>
      </div>

      <div class="row justify-content-center align-items-center">
        <div class="col-md-4 text-center">
          <div class="copyright text-white mt-2">
            <p>&copy; 2023 Hotel Booking. All Rights Reserved.</p>
          </div>
        </div>
      </div>
      
    </div>

    
  </footer>
  